<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SupabaseURL</key>
    <string>https://pnodqktlvfcrfcjxknrb.supabase.co</string>
    <key>SupabaseAnonKey</key>
    <string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBub2Rxa3RsdmZjcmZjanhrbnJiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3MDcyNzUsImV4cCI6MjA5MTI4MzI3NX0.XNE6Ppj9opWVp6jO9CPg2SNZYP7UTf2cFIauVy6ZWGM</string>
    <key>SupabaseBucket</key>
    <string>job_photos</string>
</dict>
</plist>
